<<<<<<< HEAD
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>
=======
<!-- Loop over each object in the projects array -->
<h1>I AM HERE TO BE USED</h1>
>>>>>>> 4600bb1383842208254e7c850a98056e2ea7f2f2
