/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #444;
    background-color: #f4f4f4;
}

main,
.site-name {
    background-color: #78a8d9;
}

a,
.btn-no-style,
#comment-subtitle {
    color: #78a8d9;
}

a:hover,
.btn-no-style:hover {
    color: #aacce6;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

button {
    background-color: #e68f8f;
    border: 0;
    padding: 1rem;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ffaaaa;
}

.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.go-back {
    color: #6e5a1e;
}

textarea,
input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #bbb;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #78a8d9;
}

textarea {
    min-width: 40%;
    min-height: 120px;
}

form>div {
    margin-bottom: 2rem;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-section {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #2eceb8;
    color: white;
}

header,
.site-row,
.info-section,
.form-heading {
    background-color: #113dce;
    color: white;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
    border: 3px solid #333;
    padding-bottom: 15px;
}

.form-heading {
    padding: 15px;
}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
    padding-left: 15px;
}

.post-name,
.post-title-section,
.new-page {
    padding-top: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header h1 {
    font-size: 1.2em;
}

.site-row {
    display: flex;
    border-bottom: 2px solid #aaa;
    justify-content: center;
}

.site-name {
    margin-bottom: 15px;
    padding: 0px 15px;
    border-style: dashed;
}

main {
    flex: 1;
    padding: 3% 5%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    margin-left: 20px;
}

.btn-no-style:hover {
    background: none;
}

.delete-post-btn {
    background-color: #0bb9b9;
}

.delete-post-btn:hover {
    background-color: #3805af;
}

.post {
    margin-bottom: 3%;
    line-height: 160%;
    border: 3px solid #333;
}

.post .title span {
    font-style: italic;
    font-size: 95%;
    color: #666;
}

.edit-link {
    display: block;
    margin: -2% 0 3% 0;
    color:#0bb9b9;
}

.comment-form {
    margin-bottom: 6%;
}

.comment {
    padding: 1%;
    margin-bottom: 1.5%;
}

.comment:nth-child(odd) {
    background-color: #ffeee6;
}

.comment .meta {
    font-size: 95%;
    margin-bottom: 0.7%;
    opacity: 0.7;
}

.new-post-form input {
    width: 320px;
}

.edit-post-form {
    margin-bottom: 6%;
}

#comment-subtitle {
    font-size: 14px;
    font-style: italic;
}

.new-post-section {
    display: flex;
    justify-content: center;
}

#create-new-post {
    width: 18%;
}

.sign-in-link,
.login-link {
    color: #0bb9b9;
}

.form-heading h1,
.form-heading h2 {
    color: #e8ecf0;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
    padding: 15px 15px 0px 0px;
}

.entry-field,
.login-signup-btn,
.btn,
#post-title {
    width: 100%;
}